body {
  background-color: white;
  font-family: sans-serif;
  color: #0f466b;
}
.big {
  font-size: 16pt;
}
h1{
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
  font-size: 40pt;
}
h4{
  font-size: 14pt;
  font-weight: bold;
}
.inputForm{
  margin-top: 5%;
  margin-left: 40%;
}
